@font-face {
    font-family: myFont;
    src: url(fonts/Poppins-Regular.ttf);
}
@font-face {
    font-family: Font;
    src: url(fonts/OpenSans_SemiCondensed-Regular.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font{
    font-size: 39px;
    font-weight: bolder;
}
body{
    display: flex;
    flex-direction: column;
    gap: 90px;
    font-family: myFont;
}
#build{
    font-weight: 900;
}
main{
    text-align: center;
    padding: 50px;
    color: hsl(192, 100%, 9%)
}
button{
    box-shadow: 4px 4px 4px grey;
}
button:hover{
    cursor: pointer;
}
.topDiv{
    display: flex;
    justify-content: space-between;
}
.free{
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 25px;
    box-shadow: 0px 0px 0px 0px;
    color: hsl(322, 100%, 66%);
    background-color: hsl(0, 0%, 100%);
    width: 10%;
    height: 40px;
}
.free:hover{
    opacity: 0.5;
}
.mainDiv{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.lowerDiv{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.community{
    display: flex;
    flex-direction: column;
    gap: 13px;
}
.btn{
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 25px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(0, 0%, 100%);
    width: 260px;
    height: 50px;
    margin: 20px auto;
}
.btn:hover{
    opacity: 0.7;
}
.numbers{
    margin: 5px auto;
    display: flex;
    gap: 90px;
}
.Thk{
    font-size: 65px;
    font-weight: bolder;
}
.together{
    background-image: url(images/bg-section-top-desktop-1.svg);
    background-repeat: no-repeat;
    display: flex;
    gap: 270px;
    align-items: center;
    padding: 20px;
}
.generate{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 12px;
}
.converse{
    display: flex;
    gap: 270px;
    align-items: center;
    padding: 20px;
}
.flowing{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 12px;
}
.users{
    display: flex;
    gap: 270px;
    align-items: center;
    padding: 20px;
}
.your{
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 12px;
}
.grow{
    width: 490px;
}
footer{
    /* background-image: url(images/bg-footer-top-desktop.svg); */
    background-color: rgb(1, 25, 4);
    padding: 50px;
    padding-bottom: 10px;
    color: hsl(207, 100%, 98%);
    background-repeat: no-repeat;
    background-size: 100%;
}
footer p{
    font-size: 15px;
}
.footer{
    display: flex;
    gap: 90px;
}
.foote{
    display: flex;
    flex-direction: column;
    gap: 17px;
}
.news{
    display: flex;
    flex-direction: column;
    gap: 4px;
}
.inp{
    display: flex;
    gap: 12px;
}
input{
    border: 2px solid;
    border-radius: 12px;
    height: 50px;
    width: 280px;
    padding: 15px;
}
input:hover{
    cursor: pointer;
}
.sub{
    border: 2px solid hsl(322, 100%, 66%);
    border-radius: 12px;
    box-shadow: 0px 0px 0px 0px;
    height: 50px;
    width: 180px;
    background-color: hsl(322, 100%, 66%);
    color: hsl(0, 0%, 100%);
}
.sub:hover{
    opacity: 0.5;
}
.foot{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.Phone{
    display: flex;
    gap: 17px;
}
.jpeg{
    width: 309px;
}
.pic{
    width: 20px;
    height: 20px;
}
@media screen and (max-width: 1120px) {
    main{
        padding: 23px;
    }
    .top{
        width: 100px;
        height: 20px;
    }
    .free{
        width: 200px;
    }
    .mockups{
        width: 100%;
    }
    .numbers{
        display: flex;
        flex-direction: column;
    }
    .together{
        display: flex;
        flex-direction: column-reverse;
        gap: 67px;
    }
    .users{
        display: flex;
        flex-direction: column-reverse;
        gap: 67px;
    }
    .converse{
        display: flex;
        flex-direction: column;
        gap: 67px;
    }
    #mockups{
        width: 100%;
    }
    .footer{
        display: flex;
        flex-direction: column-reverse;
        gap: 40px;
    }
    input{
        width: 100%;
    }
    .inp{
        display: flex;
        flex-direction: column;
        align-items: end;
    }
    .generate{
        text-align: center;
    }
    .flowing{
        text-align: center;
    }
    .your{
        text-align: center;
    }
}